<!-- Application header -->
<mat-toolbar color="primary">
  <div class="container">
    <span>Y Combinator News</span>
  </div>
</mat-toolbar>

<!-- Application body -->
<div class="container">  
  <!-- News search area -->
  <div class="search-section">
    <div class="d-flex align-items-center py-3">
      <mat-form-field class="w-100">
        <input [ngModel]="searchText" (ngModelChange)="searchNewsItems($event)" name="searchText" matInput type="text" placeholder="Search news here...">
      </mat-form-field>
    </div>
  </div>
  
  <!-- If there are no searched news items, display recent news items -->
  <ng-template [ngIf]="!searchedNewsItems">
    <!-- Heading of the body -->
    <h2 class="mb-4">Recent News</h2>
    
    <!-- Top pagination section -->
    <div *ngIf="newsItems" class="pagination-section mb-3">
      <app-pagination [newsItems]="newsItems" (onNext)="nextRecentNewsPage($event)" (onPrevious)="prevRecentNewsPage($event)"></app-pagination>
    </div>

    <!-- Body of the news stories -->
    <div class="news-section">
      <ng-template [ngIf]="!newsItems">
        <div class="d-flex justify-content-center py-4">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      </ng-template>
      <ng-template [ngIf]="newsItems">
        <app-news-snapshot *ngFor="let newsItem of newsItems.hits" [newsItem]="newsItem"></app-news-snapshot>
      </ng-template>
    </div>

    <!-- Bottom pagination section -->
    <div *ngIf="newsItems" class="pagination-section mb-3">
      <app-pagination [newsItems]="newsItems" (onNext)="nextRecentNewsPage($event)" (onPrevious)="prevRecentNewsPage($event)"></app-pagination>
    </div>
  </ng-template>
  
  <!-- Display searched news items if there are any -->
  <ng-template [ngIf]="searchedNewsItems">
    <!-- Heading of the body -->
    <h2 class="mb-4">Search Results for "{{ searchText }}"</h2>
    
    <!-- Top pagination section -->
    <div *ngIf="searchedNewsItems" class="pagination-section mb-3">
      <app-pagination [newsItems]="searchedNewsItems" (onNext)="nextSearchedNewsPage($event)" (onPrevious)="prevSearchedNewsPage($event)"></app-pagination>
    </div>

    <!-- Body of the news stories -->
    <div class="news-section">
      <ng-template [ngIf]="!searchedNewsItems">
        <div class="d-flex justify-content-center py-4">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      </ng-template>
      <ng-template [ngIf]="searchedNewsItems">
        <app-news-snapshot *ngFor="let newsItem of searchedNewsItems.hits" [newsItem]="newsItem"></app-news-snapshot>
      </ng-template>
    </div>

    <!-- Bottom pagination section -->
    <div *ngIf="searchedNewsItems" class="pagination-section mb-3">
      <app-pagination [newsItems]="searchedNewsItems" (onNext)="nextSearchedNewsPage($event)" (onPrevious)="prevSearchedNewsPage($event)"></app-pagination>
    </div>
  </ng-template>
</div>

<!-- An overlay screen to indicate that the application is fetching data -->
<div *ngIf="isLoading" class="overlay">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>

<button *ngIf="pageNotTop" mat-raised-button class="scroll-to-top medium-curve" (click)="scrollToTop()">Back to Top</button>
